.black-card {
  margin: 20px;
  width: 432px;
}

.black-card-box {
  border: 4px solid #3240e9;
  height: 507px;
}

.black-card-data {
  background: #fd5dc9;
  color: #fbf70f;
  margin-top: 10px;
  text-align: center;
  padding: 10px 30px;
}

.black-card-data p {
  font-size: larger;
  font-weight: 500;
}
